<div id="<%= dom_id dish %>">
  <p>
    <strong>Name:</strong>
    <%= dish.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dish.description %>
  </p>

  <p>
    <strong>Dish type:</strong>
    <%= dish.dish_type %>
  </p>

  <p>
    <strong>Favorite:</strong>
    <%= dish.favorite %>
  </p>

  <p>
    <strong>User notes:</strong>
    <%= dish.user_notes %>
  </p>

</div>
